.article {
  margin: 2em auto 0;
  padding: 2em;
  font-size: 140%;
  max-width: 800px;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.title {
  text-align: center;
}

.date {
  display: block;
  text-align: right;
}
