@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("./Montserrat-Bold.ttf") format("truetype");
}
