body {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
}

.title {
  
}

.date {
  font-size: 14px;
}

.text {
  padding: 20px;
  max-width: 1000px;
  line-height: 30px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
}