.article {
  margin: 0 auto;

  padding: 50px;
  width: 50%;
  border: 5px solid #865439;
  background-color: #e6d7c9;

  font-family: Arial, Helvetica, sans-serif;

  &__title {
    color: #202020;
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    color: #424242;
  }
}
