.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  &__title {
    font-size: 24px;
  }

  &__date {
    font-size: 12px;
  }

  &__description {
    text-align: justify;
  }
}
