html {
  margin: 0;
  padding: 60px;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4a536b;
  background-color: #aed6dc;
}

.article {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);

  &__date {
    font-size: 12px;
    color: #747b8f;
  }
}
