* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #e4e4e4;

  &__article {
    margin: 40px auto;
  }
}

.article {
  width: 80vw;
  height: 90vh;
  background-color: #f0f8ff;
  padding: 40px 30px;
  font-family: "Gill Sans",
    "Gill Sans MT",
    "Calibri",
    "Trebuchet MS",
    sans-serif;

  &__title {
    font-size: 2.8em;
    margin: 0 0 10px;
  }

  &__date {
    display: inline-block;
    font-weight: 300;
    margin: 0 0 40px;
  }

  &__text {
    line-height: 1.7;
    font-size: 1.2em;
    font-weight: 400;
    text-align: justify;
  }
}
