* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  margin: 30px auto 0;
  width: 50%;
  min-width: 320px;
  padding: 10px;
}

span {
  display: block;
  padding: 15px 0 25px;
  font-style: italic;
  text-align: right;
}
